/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#profileHeader {
    background-image: url('../images/28.jpg');
    background-size: cover;
}

.min-height-300{
    min-height: 300px;
}

.min-height-400 {
    min-height: 400px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Main
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    min-height: 100%;
    background-image: url('../images/pirin-648.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    background: white;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

p.text-story {
    text-indent: 10px;
}




/* Index Carousel Item Backgrounds 
-------------------------------------------------- */
#firstSlide {
    background-image: url('../images/mountaineering-altitude-climber-silhouette-by-vexels.svg');
    background-size:  auto;
    background-position-x: right;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}