<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Събития</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>

<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Топ Преходи</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>

<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Топ "Катерачи"</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>

<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Най-нови членове</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>

<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Полезни връзки</h4>
    <ul>
        <li>Cras justo odio</li>
        <li>Dapibus ac facilisis in</li>
        <li>Morbi leo risus</li>
        <li>Porta ac consectetur ac</li>
        <li>Vestibulum at eros</li>
    </ul>
</div>