@model AlpineClubBansko.Services.Models.HomeViewModels.HomeViewModel

<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Нови потребители</h4>
    <ul class="list-group">
        @foreach (var user in Model.NewUsers)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">@user.UserName<span class="badge badge-primary badge-pill">@user.CreatedOn.ToString("dd-MMM-yyyy")</span></li>
        }
    </ul>
</div>

<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Полезни връзки</h4>
    <div class="offset-2">
        <ul class="list-group list-group-flush">
            <li><a href="https://www.pss-bg.bg/"> ПСС България</a></li>
            <li><a href="https://www.pirin.bg/"> НП "Пирин"</a></li>
        </ul>
    </div>
</div>