<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item bg-secondary rounded active min-height-400" id="firstSlide">
            <div class="offset-lg-1 col-lg-7">
               <p class="display-4 font-italic">Прочети някоя от историите ни за покорени върхове</p>
            </div>
            <div class="carousel-caption">
                <a asp-controller="Stories" asp-action="Index" class="btn btn-outline-info text-white font-weight-bold">Заведи ме</a>
            </div>
        </div>
    </div>
</div>
