@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <partial name="_WelcomePartial" />
    <br />
    <div class="row">

        <aside class="col-md-4 order-md-2">
            <partial name="_IndexAsidePartial" />
        </aside>

        <div class="col-md-8 order-md-1">
            <div id="index_story">
                <div class="row">
                    <div class="col-12">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Последно разказани истории
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Being Developed
                    </div>
                </div>
            </div>

            <br />

            <div id="index_photo">
                <div class="row">
                    <div class="col-12">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Последно добавени снимки
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Being Developed
                    </div>
                </div>
            </div>

            <br />

            <div id="index_route">
                <div class="row">
                    <div class="col-12">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Последно добавени преходи
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Being Developed
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
