<div class="container content">
    <hr />
    <div class="row d-none d-md-block">
        <partial name="_WelcomePartial" />
    </div>
    <hr />
    <div class="alert alert-primary">
        <div class="text-center">
            Телефон за Спешни случай: <span class="font-weight-bold">112</span> 
            Централен денонощен пост ПСС: <span class="font-weight-bold">1470; 02 963 2000</span> 
            НП "Пирин" ПЦ Банско: <span class="font-weight-bold">0884 323 245</span>
</div>
    </div>
    <hr />
    <div class="row">
        <aside class="col-md-4 order-md-2">
            <partial name="_IndexAsidePartial" />
        </aside>
        <div class="col-md-8 order-md-1">
            <div id="index_story" class="pb-3">
                <div class="row">
                    <div class="col-12">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Последно добавени истории
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Being Developed

                    </div>
                </div>
            </div>

            <br />

            <div id="index_photo">
                <div class="row">
                    <div class="col-12">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Последно добавени снимки
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Being Developed
                    </div>
                </div>
            </div>

            <br />

            <div id="index_route">
                <div class="row">
                    <div class="col-12">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Последно добавени преходи
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Being Developed
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>