@{
    ViewData["Title"] = "Поверителност";
}

<div class="container content">
    <hr />
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="offset-md-2 col-md-8 col-12 flex-column text-justify">
            <p>Моля, прочетете настоящата Политика за защита на личните данни, която е свързана с Условията за ползване на текущия уеб-сайта, и е съставена съгласно изискванията на Вътрешните правила на администратора за прилагане на мерки за защита на личните данни в изпълнение на Регламент (ЕС) 2016/79 за защита на личните данни и приложимото национално законодателство.</p>

            <p>В случай че не сте съгласни с настоящата Политика за защита на личните данни, ние не бихме били в състояние да Ви предоставим нашите услуги.</p>

            <h4>Какви данни събираме?</h4>
            <p>Едиствените лични данни, който ние събираме са:</p>
            <ul>
                <li>Електронна поща</li>
                <li>Име и Фамилия (само ако бъде предоставена)</li>
                <li>Телефонен номер (само ако бъде предоставена)</li>
                <li>ПК, Град, Държава (само ако бъде предоставена)</li>
            </ul>
            <h4>Как използваме личните Ви данни?</h4>
            <p>Ние използваме личните Ви данни, само са създаване на потребителски профил.</p>
            <h4>Колко време пазим личните Ви данни?</h4>

            <p>Личните данни, предоставени от потребителите, се пазят само при условие, че потребителя има профил! Когато профила бъде изтрит, всички лични данни предоставени в него също биват изтрити</p>
            <h4>Как използвамне на бисквитки и други технологии</h4>
            <p>Ние използваме бисквитни и геолокация, но не събираме информация от тях!</p>
        </div>
    </div>
    <hr />
</div>