@model AlpineClubBansko.Services.Models.AlbumViewModels.AlbumViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Model.Id
    @Model.Photos.Count()
    <a asp-controller="Albums" asp-action="Upload" asp-route-id="@Model.Id">upload</a>
    @if (Model.Photos != null)
    {
    <div id="lightgallery">
        @foreach (var photo in Model.Photos)
        {
            <a href="@photo.LocationUrl">
                <img src="img/thumb1.jpg" />
            </a>
        }
    </div>
    }
</div>