@model List<AlpineClubBansko.Services.Models.AlbumViewModels.AlbumViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content mb-5">
    <hr />
    <vc:album-options model="null"></vc:album-options>
    <hr />
    <div class="row" id="albumList">
        @await Component.InvokeAsync("ViewAlbums", new { model = Model })
    </div>
    <hr />
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>

        function ChangePage(param) {
            $.ajax({
                url: '/Albums/FilterAlbums',
                type: 'get',
                data: {
                    page: param,
                    searchCriteria: $('#searchCriteria').val(),
                }, success: function (data) {
                    $('#albumList').html(data).fadeIn();
                }, error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        };

            $('#searchForm').submit(function (e) {
                e.preventDefault();

                var tmp = $('#searchCriteria').val();

                $.ajax({
                    url: '/Albums/FilterAlbums',
                    type: 'get',
                    data: {
                        searchCriteria: tmp,
                    }, success: function (data) {
                        $('#searchCriteria').val = tmp;
                        $('#albumList').html(data);
                    }, error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            });
    </script>
}