@model AlpineClubBansko.Services.Models.AlbumViewModels.AlbumViewModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Client side libs required  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">
<style>

    html { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

    main { margin: 20px; }

    #gallery-note { font-size: smaller }

    .blueimp-gallery {
        margin: 25px;
        max-width: 150px;
        padding-bottom: 150px;
    }

    .dropzone {
        background: #F0F8FF;
        border: 3px dashed #00a1f1;
        border-radius: 5px;
        margin: 25px;
        max-width: 400px;
    }



    .dropzone .dz-message .note {
        display: block;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 200;
        margin-top: 1.5rem;
    }
</style>

<main>
    <div class="box header">
        <h1>
            <span class="fa fa-user-circle-o"></span> <span id="page-title">ImageResizer</span>
        </h1>
    </div>

    <div class="box content">
        <hr>
        <h2>Upload photos</h2>
        <div>
            <form asp-controller="Albums" asp-action="Upload" asp-route-id="@Model.Id"
                  class="dropzone needsclick dz-clickable"
                  id="image-upload"
                  method="post"
                  enctype="multipart/form-data">
                <div class="dz-message needsclick">
                    <span class="note needsclick">
                        Drop files here or click to upload.
                    </span>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script>

    /* Dropzone */
    // "imageUpload" is the camelized version of the HTML element's ID
    Dropzone.options.imageUpload = {
        paramName: "files", // The name that will be used to transfer the file
        dictDefaultMessage: "Drop files here or Click to Upload",
        addRemoveLinks: true, // Allows for cancellation of file upload and remove thumbnail
        init: function() {
            myDropzone = this;
            myDropzone.on("success",
                function(file, response) {
                    console.log("Success");
                    myDropzone.removeFile(file);
                });
        }
    };
</script>