<div class="row options-nav bg-light shadow-sm" id="optionsNav">
    <partial name="_UserCoordsPartial" />
    <div class="col-lg-6 d-flex align-items-center justify-content-around justify-content-lg-end">
        <span>За повече опции влезте с потребителско име или се регистрирайте</span>
    </div>
</div>