@model AlpineClubBansko.Services.Models.RouteViewModels.RouteViewModel

<div class="row options-nav bg-light shadow-sm" id="optionsNav">
    <div class="col-lg-4 py-2">
        <h5>@Model.Title</h5>
        <p class="blockquote-footer">Добавен от <a href="/Users/Profile/@Model.Author.Id">@Model.Author</a> на @Model.CreatedOn</p>
    </div>
    <div class="col-lg-8 d-flex align-items-center justify-content-around justify-content-lg-end">
        <span>За повече опции влезте с потребителско име или се регистрирайте</span>
    </div>
</div>