<div class="row options-nav bg-light shadow-sm" id="optionsNav">
    <partial name="_Search" />
    <div class="col-lg-6 d-flex align-items-center justify-content-around justify-content-lg-end">
        <ul class="nav">
            <li class="nav-item">
                <a href="#" class="nav-link add-link hvr-underline-from-center" data-toggle="modal" data-target="#createAlbum"><i class="far fa-plus-square"></i> Създай нов</a>
            </li>
        </ul>
    </div>
</div>

<vc:create-album></vc:create-album>