@model List<AlpineClubBansko.Services.Models.StoryViewModels.StoryViewModel>

@{
    var index = 1;
}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Заглавие</th>
        <th scope="col" class="text-center">Коментари</th>
        <th scope="col" class="text-center">Рейтинг</th>
        <th scope="col" class="text-center"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var story in Model)
    {
        <tr>
            <th scope="row">@(index++)</th>
            <td>@story.Title</td>
            <td class="text-center">@story.Rating</td>
            <td class="text-center">
                <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@story.Id">Разгледай</a>
            </td>
        </tr>
    }
    </tbody>
</table>