@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лични данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="font-italic text-center">@ViewData["Title"]</h3>

<div class="row">
    <div class="offset-md-1 col-md-10">
        <hr />
        <p>Вашият профил съдържа лични данни, които Вие сте предоставили. Тук можете да ги свалите или истриете!</p>
        <p>
            <strong>Изтриването на тези данни, ще изтрие Вашият профил и той няма да може да бъде възстановен!</strong>
        </p>
        <hr />
        <div class="row justify-content-around">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary" type="submit">Свали</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрии</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}