@model List<AlpineClubBansko.Services.Models.StoryViewModels.StoryViewModel>

@using AlpineClubBansko.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = " - Истории - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-8 offset-1 justify-content-start">
            <p class="blog-header">Готов ли си да разкаш твоя история?</p>
        </div>
        <div class="d-flex justify-content-end align-self-center">
            <a asp-area="" asp-controller="Stories" asp-action="Create" class="btn btn-info">Създай история</a>
        </div>
    </div>

    <hr />
    <br />

    @if (Model != null)
    {
        <div class="card-deck justify-content-lg-center">

            @foreach (var story in Model)
            {
                <div class="col-lg-5 m-2 p-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">@story.Title</h5>
                            <p class="blockquote-footer text-right">Разказана от <a href="/Users/Profile/@story.Author.Id">@story.Author</a></p>
                        </div>
                        <div class="card-body">

                            <p class="card-text text-justify text-story">@story.Content</p>
                        </div>
                        <div class="card-footer text-right">
                            <small class="text-muted">@Html.ActionLink("Покажи цялата", "Read", "Stories", new { id = story.Id })</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>