@model List<AlpineClubBansko.Services.Models.StoryViewModels.StoryViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid content mb-5">
    <hr />
    <vc:story-options model="null"></vc:story-options>
    <hr />
    <div class="row" id="storyList">
        @await Component.InvokeAsync("ViewStories", new { model = Model })
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>

        function ChangePage(param) {
            $.ajax({
                url: '/Stories/FilterStories',
                type: 'get',
                data: {
                    page: param,
                    searchCriteria: $('#searchCriteria').val(),
                }, success: function (data) {
                    $('#storyList').html(data).fadeIn();
                }, error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        };

            $('#searchForm').submit(function (e) {
                e.preventDefault();

                var tmp = $('#searchCriteria').val();

                $.ajax({
                    url: '/Stories/FilterStories',
                    type: 'get',
                    data: {
                        searchCriteria: tmp,
                    }, success: function (data) {
                        $('#searchCriteria').val = tmp;
                        $('#storyList').html(data);
                    }, error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            });
    </script>
}