@model AlpineClubBansko.Services.Models.StoryViewModels.StoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["AuthorId"] = Model.Author.Id;
}

<div class="container-fluid content">
    <hr />
    <vc:story-options model="@Model"></vc:story-options>
    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-controller="Stories" asp-action="Update" method="post" id="updateForm" class="needs-validation">
                <div class="col-lg-8 offset-lg-2 ">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" type="text" class="form-control " />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" rows="8" class="form-control" id="textEditor"></textarea>
                    </div>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
    <hr />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=1h9zbrpyrsgirdzgwk74x0ydlcghp34o257t2ljvorvi9n6q"></script>
    <script>
        tinymce.init({
            selector: '#textEditor',
        });
    </script>
    <script>
        function SubmitForm() {
            tinyMCE.triggerSave();
            $('#updateForm').submit();
        };

    </script>
}