@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Забравена парола";
}
<div class="bg-white p-3 rounded">
    <h1>@ViewData["Title"]</h1>
    <p>
        Моля, проверете пощата си за писмо. Възможно е да е маркирано като спам!
    </p>
</div>