@model string[]

@if (Model != null)
{
    <div class="alert alert-@(Model[0]) alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center">@Model[1]</div>
    </div>
}