@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content mb-5">
    <hr />

    <div class="offset-md-1 col-md-10 col-12">
        <div class="row py-2">
            <div class="col-md-5 col-12">
                <img src="~/images/logo.svg" class="img-fluid rounded" />
            </div>
            <div class="col-md-7 col-12">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum pulvinar ex, a venenatis dui vulputate vel. Vivamus faucibus suscipit mauris, sodales euismod sem porta non. Etiam eu scelerisque libero, a pharetra odio. Ut at tellus id metus gravida sollicitudin quis a augue. Suspendisse pharetra at urna vel sagittis. In hac habitasse platea dictumst. Aliquam vulputate, ipsum et viverra ultrices, turpis ligula venenatis nisi, a ultrices lorem ante quis nisi. Nullam sed tempus nisi. Ut rhoncus libero eget feugiat fermentum. Ut ac diam eros. Phasellus eleifend tortor elit, vel commodo nulla finibus a. Suspendisse ac sapien lacus. Praesent at urna quam. Morbi a condimentum augue.
                </p>
            </div>
        </div>
        <hr />
        <div class="row py-2">
            <div class="col-md-7 col-12">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum pulvinar ex, a venenatis dui vulputate vel. Vivamus faucibus suscipit mauris, sodales euismod sem porta non. Etiam eu scelerisque libero, a pharetra odio. Ut at tellus id metus gravida sollicitudin quis a augue. Suspendisse pharetra at urna vel sagittis. In hac habitasse platea dictumst. Aliquam vulputate, ipsum et viverra ultrices, turpis ligula venenatis nisi, a ultrices lorem ante quis nisi. Nullam sed tempus nisi. Ut rhoncus libero eget feugiat fermentum. Ut ac diam eros. Phasellus eleifend tortor elit, vel commodo nulla finibus a. Suspendisse ac sapien lacus. Praesent at urna quam. Morbi a condimentum augue.
                </p>
            </div>
            <div class="col-md-5 col-12">
                <img src="~/images/mountain-climber-by-Vexels.svg" class="img-fluid rounded" />
            </div>
        </div>
        <hr />
        <div class="row py-2">
            <div class="col-md-5 col-12">
                <img src="~/images/hiking-mountain-silhouette-by-Vexels.svg" class="img-fluid rounded" />
            </div>
            <div class="col-md-7 col-12">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum pulvinar ex, a venenatis dui vulputate vel. Vivamus faucibus suscipit mauris, sodales euismod sem porta non. Etiam eu scelerisque libero, a pharetra odio. Ut at tellus id metus gravida sollicitudin quis a augue. Suspendisse pharetra at urna vel sagittis. In hac habitasse platea dictumst. Aliquam vulputate, ipsum et viverra ultrices, turpis ligula venenatis nisi, a ultrices lorem ante quis nisi. Nullam sed tempus nisi. Ut rhoncus libero eget feugiat fermentum. Ut ac diam eros. Phasellus eleifend tortor elit, vel commodo nulla finibus a. Suspendisse ac sapien lacus. Praesent at urna quam. Morbi a condimentum augue.
                </p>
            </div>
        </div>
    </div>
    <hr />
</div>