
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-8 offset-1 justify-content-start">
            <p class="blog-header">Сподели преход</p>
        </div>
        <div class="d-flex justify-content-end align-self-center">
            <a asp-area="" asp-controller="Routes" asp-action="Create" class="btn btn-info">Създай преход</a>
        </div>
    </div>

    <hr />
    <br />
</div>
